{% extends "//views/layouts/main.twig" %}
{% block content %}
	{{content}}
{%endblock%} 

{% block topRight %}
		<li> <a href="/application/index.php?r=pages/index">List Pages</a></li>
		<li> <a href="/application/index.php?r=pages/admin">Manage Pages</a></li>
{%endblock%} 

