
{% extends "//views/layouts/zurb.twig" %}
{% block content %}



<h1> Управление страницами </h1>
<table>
	<thead>
	<tr>
		<td>	id	</td>
		<td>	Дата создания	</td>
		<td>	Заголовок	</td>
		<td>	Краткое описание	</td>


	    <td>  </td>
	    <td>  </td>

    </tr>
	</thead>
	<tbody>
{{ this.widget('zii.widgets.CListView', {
	'dataProvider':dataProvider,
	'itemView':'_view',
},true) }}
	</tbody>
</table>

{%endblock%} 
