{% extends "//views/layouts/public_base.twig" %}
{% block content %}
   	<div style="width:100%;" class="news-container">
		<div class="nav">
			{% set breadcrumbs = model.getParentAsArray(model.id) %}
            <a href="/"> Главная </a>
            <a href="/application/news/"> Новости </a>
            {% for crumb in breadcrumbs %}
                <a href="{{ crumb.url }}"> {{ crumb.name }} </a>
            {% endfor %}
            <!-- 
            <a href="#">Главная 12</a>
			<a href="#">Структура</a>
			<a class="active" href="#">Кафедра новейшей литературы</a>	
		    -->
        </div>
		<div class="title">
			<p>{{ model.title }} </p>	

			<img src="/application/images/title-ln.jpg" height="12" width="20" alt="" />
		</div>
        <div class="container text-box">					
			{{ model.content }} 
        </div>
        <div><hr/>
            <a href="/application/news" style="float:right;"> Все новости </a>
        </div>
    </div>

{% endblock %}
