
<div class="news-container">
		<div class="title">
			<p>НОВОСТИ</p>	
			<a href="#">Все новости</a>
			<img src="images/title-ln.jpg" height="12" width="20" alt="" />
		</div>

		<div class="news-block">
			<a href="#"><img src="images/news-img.jpg" height="80" width="112" alt="" /></a>	
			 {% for item in items %}
				<div class="news-info">
					<p>{{ item.pubDate }}</p>	
					<p><strong>{{ item.title }}</strong></p>
					<p> {{ item.preview }}</p>
					<a href="#">Подробней</a>
				</div>
			 {% endfor %}
		</div>	
</div>
