/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background-position: 0 0;
	background-repeat: no-repeat;
	border: 0 none;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: baseline;
}
a img, :link img, :visited img { border:0 none; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style-image: none; list-style-position: outside; list-style-type: none; }
q:before, q:after, blockquote:before, blockquote:after { content:""; }

/* css begin */
html, body { height:100%; }
body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #333;
	background: #fff;
	width: 100%;
	min-width: 957px;
}

#wrap {
	position: relative;
	width: 957px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('pt_sans-webfont.eot');
    src: url('pt_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('pt_sans-webfont.woff') format('woff'),
         url('pt_sans-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.top-wrap {width: 960px; margin: 0 auto;}
.top-menu {background: #852830; font-family: 'pt_sansregular'; border-top: 3px solid #fff; height: 47px;}
	.top-menu a {text-decoration: none; color: #fff; display: block;}
		.top-menu ul {}
			.top-menu ul li {float: left; position: relative;}
				.top-menu ul li a {padding: 11px 39px; font-size: 20px;}
					.top-menu ul li:hover {background: #611118;}
					.top-menu ul li .one {width: 14px; height: 7px; background: url(../images/lin.png) no-repeat; position: absolute;top: 0px; left: 45%; display: none;}
					.top-menu ul li:hover .one {display: block;}
					.top-menu ul li:hover .first {display: block;}
					.top-menu ul ul li:hover .last {display: block;}

			.top-menu ul ul {position: absolute; z-index: 300; background: #611118; width: 487px; display: none;}
				.top-menu ul ul li {margin-top: 2px;}
					.top-menu ul ul li a {font-size: 15px;}
						.top-menu ul ul li:hover {background: #852830;}
						.top-menu ul ul li .two {width: 15px; height: 8px; background: url(../images/ln.png) no-repeat; position: absolute;top: 0px; left: 45%; display: none;}
						.top-menu ul ul li:hover .two {display: block;}

			.top-menu ul ul ul {position: absolute; z-index: 500; background: #611118; width: 400px; display: none;}
				.top-menu ul ul ul li {float: none; margin: 0;}
					.top-menu ul ul ul li a {font-size: 13px;}

			.top-menu .active a {background: #611118;}
			.top-menu .active span {display: block !important;}

			@-moz-document url-prefix() {  
			 .top-menu ul li a {padding: 10px 39px; }
			 .top-menu ul ul { width: 487px; }
			} 

			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
   .top-menu ul ul { width: 487px; }
}

/* header */
.header { height: 135px; padding-top: 25px; }
	.logo {float: left;}
	.head-info {float: left; background: url(../images/top-icon.jpg) no-repeat 100% 0; padding-right: 140px; margin: 18px 0 0 18px;}
		.head-info p {font-size: 20px; color: #333;  font-family: 'pt_sansregular'; padding-bottom: 5px;}
			.head-info span {display: block; float: right; text-align: center; font-size: 15px; color: #87764d; font-style: italic; line-height: 130%; background: url(../images/citate.png) no-repeat 0 5px; padding: 0 20px; margin-right: -20px;}
				.author {float: none !important; text-align: right !important; clear: both; font-size: 13px !important; background: none !important;}
	.phone {float: right;}
		.phone p {text-align: right; color: #333; padding-bottom: 5px; font-size: 14px; position: relative; }
		.phone a {color: #852830;}
		.phone a:hover {text-decoration: none;}
		.virt {width: 208px; display: block; text-align: center; color: #fff !important; text-decoration: none; font-size: 18px; background: #155f97; font-family: 'pt_sansregular'; padding: 10px 0 8px 0; margin-top: 8px;}

		.virt-box {width: 208px; position: absolute; background: #388ccc; padding: 15px 0; margin-top: -4px; z-index: 600; display: none; }
			.virt-box img {position: absolute; top: -1px; left: 45%;}
			.virt-box form {padding: 5px 0 0 20px;}
				.virt-box input[type="text"] {width: 165px; font-size: 14px; color: #666666; height: 26px; border: none; margin-bottom: 5px; padding-left: 5px;}
				.virt-box textarea {width: 160px; font-size: 14px; color: #666666; height: 50px; border: none; margin-bottom: 5px; padding: 5px; font-family: Arial; resize: none;}
				.virt-box input[type="submit"] {width: 114px; color: #fff; border: 1px solid #fff; background: #852830;  height: 26px; font-size: 18px; cursor: pointer; margin: 5px 0 0 25px;}

.news-container {padding-top: 30px; overflow: hidden;}
	.news-container .title {height: 30px; padding-bottom: 5px; border-bottom: 1px solid #852830; position: relative; margin-bottom: 10px;}
		.news-container .title p {float: left; font-size: 24px; color: #852830; text-transform: uppercase; margin-left: 15px; font-family: 'pt_sansregular';}
		.news-container .title a {float: right; color: #852830; text-decoration: none; margin-top: 10px;}
		.news-container .title a:hover, .news-info a:hover {text-decoration: underline;}
		.news-container .title img {position: absolute; bottom: -12px; left: 60px;}
	.news-block {float: left; width: 463px; padding-left: 15px; margin: 30px 0 20px 0;}
		.news-block img {float: left; margin-top: 5px;}
			.news-info {overflow: hidden; padding-left: 15px; font-size: 14px; line-height: 130%;}
				.news-info a {text-decoration: none; font-size: 13px; color: #852830;}

.partner {border: 1px solid #e2d7c8; margin-top: 20px; padding: 15px 0; overflow: hidden;}
	.partner .block {float: left; width: 133px; margin-left: 3px; text-align: center;}
		.partner .block img {padding-top: 5px;}
		.partner .block:hover {background: #f7f2eb; outline: 1px solid #d8cdbf; }
		.partner .block p {text-align: center; font-size: 13px; color: #787878; padding: 5px 10px;}

.nav {padding: 0 0 5px 12px;}
	.nav a {font-size: 13px; color: #666; text-decoration: none; display: inline-block; padding: 0 15px 0 5px; background: url(../images/nav-a.png) 100% 60% no-repeat;}
	.nav a:hover {text-decoration: underline;}
	.nav .active {background: none; padding-right: 0px;}

.banner-box {position: relative; border: 1px solid #852830; margin: 20px 0 0px 0;}
	.banner-info {position: absolute; top: 0px; right: 25px; width: 244px; height: 105px; padding-top: 25px; background: url(../images/banner-info.png) no-repeat; z-index: 100;}
		.banner-info p {text-align: right; font-size: 14px; line-height: 140%;}
		.banner-info a {color: #922b2c;}
		.banner-info a:hover {text-decoration: none;}
	.banner-img {width: 730px; position: relative;}
	.banner-img a {position: absolute; top: 45%; font-size: 24px; left: 30px; color: #fff; text-decoration: none; font-family: 'pt_sansregular';}
	.banner-img a:hover {text-decoration: underline;}

.container {overflow: hidden; padding-top: 15px;}
	.aside {float: left; width: 170px; margin: 0 15px 0 10px;}
		.nav-menu {font-size: 14px;}
			.nav-menu ul li {border-bottom: 1px dotted #333;}
			.nav-menu ul li:last-child {border: none;}
				.nav-menu ul li a {display: block; color: #333; text-decoration: none; padding: 10px 0 10px 10px; margin-left: -10px; }
				.nav-menu ul li a:hover {background: #f7f2eb; color: #872c31;}

				.nav-menu ul ul li a {padding-left: 7px; }
				.nav-menu ul ul li {border: none;}
					.nav-menu ul ul li p {background: url(../images/ellipse.png) no-repeat 10px 5px; padding-left: 25px;}
				.nav-menu .active {}
					.nav-menu .active a {background: #f7f2eb; color: #872c31; margin-left: -10px; padding-left: 10px;}

	.content {overflow: hidden;}
		.list-container {margin-left: -6px;}
		.list-container h2 {margin-left: 6px; font-size: 16px; padding: 5px 0 25px 0; font-weight: bold;}
		.list-block {display: inline-block; vertical-align: top; width: 145px; margin: 0 0 20px 6px; font-size: 13px;}
			.list-block a {border: 3px solid #f7f2eb; display: block; border-radius: 5px; margin-bottom: 10px;}
				.list-block p {text-align: center; padding-top: 3px;}
				.list-block span {display: block; text-align: center; font-style: italic; padding-top: 3px;}

		.text-box {}
			.text-box h2 {font-size: 16px; font-weight: bold; padding-bottom: 20px;}
				.text-box p {font-size: 13px; padding-bottom: 20px; line-height: 140%;}
				.text-box td {vertical-align: middle; padding: 10px; font-size: 14px;}
					.text-box td span {display: block; font-size: 16px; font-weight: bold; padding: 2px 0 0 0;}
					.text-box td strong {font-size: 16px; display: inline-block; padding: 0 0 0 15px;}
					.text-box a {color: #8b2832;}
					.text-box a:hover {text-decoration: none;}
					.text-box strong {display: block;}
					.text-box span {display: block; padding-bottom: 20px;}
					.text-box .titles {padding-bottom: 20px; display: inline-block;}
					.text-box img {padding: 5px; border: 1px solid #999999; margin-bottom: 20px;}
					.left-td {width: 410px; border-bottom: 1px solid #999999; border-right: 1px solid #999999;}
					.right-td {width: 170px; border-bottom: 1px solid #999999;}
					.left-last {border-bottom: none; border-right: 1px solid #999999;}
					.right-last {border-bottom: none;}
				.kurs {padding-bottom: 20px;}
					.kurs p {padding: 0;}
					.kurs h3 {font-size: 13px; font-weight: bold; text-transform: uppercase;}
				.address span {font-size: 13px; font-weight: bold;}

			.prev-box {display: inline-block; vertical-align: top; margin: 0px 10px 20px 0; position: relative; width: 145px;}
			.prev-box:hover a {display: block;}
				.prev-box img {padding: 0; border: none; margin: 0px;}
				.prev-box span {border: 3px solid #f7f2eb; display: block; border-radius: 5px; padding: 0px;}
				.prev-box a {display: none; width: 139px; height: 140px; background: url(../images/prev-a.png); position: absolute;top: 3px; left: 3px; text-decoration: none; color: #fff; font-weight: bold;}
					.prev-box a p {display: table-cell; text-align: center; vertical-align: middle; width: 139px; height: 140px; padding: 0 10px;}

/* footer */
#footer {
	position: relative;
	padding: 50px 0 20px 0;
	width: 957px;
	margin: 0 auto;
	font-size: 13px;
	overflow: hidden;
	line-height: 140%;
	background: url(../images/footer-blank.png) no-repeat;
}

.sub-info {float: left;}
	.sub-info a {text-decoration: none; color: #333;}
	.sub-info a:hover, .working a:hover {text-decoration: underline;}
.working {float: right; font-size: 14px; color: #787878;}
	.working a {color: #787878; text-decoration: none;}
.copyright {overflow: hidden; text-align: center;}

.footer_blank {	clear: both; height: 40px; }
input:focus, textarea:focus {outline: none;}

.slider-box {position: relative;}
	.slide-plash {height: 245px; width: 207px; background: url(../images/plash.png); top: 0px; right: 0px; position: absolute; z-index: 100; font-size: 14px; color: #333333; line-height: 140%; padding-left: 27px; padding-top: 52px;}
		.slide-plash span {display: block; width: 194px; background: url(../images/plash-span.png) no-repeat; font-size: 36px; color: #fff; text-align: center; padding: 12px 0; margin: 15px 0 15px -43px;}

#slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides .slidesjs-previous {
      position: absolute;
      width: 35px;
      height: 57px;
      display: block;
      background: url(../images/prev.png) no-repeat;
      top: 95px;
      left: 0px;
      z-index: 300;
      text-indent: -9999px;
    }
     #slides .slidesjs-previous:hover, #slides .slidesjs-next:hover {background-position: 0 100%;}

    #slides .slidesjs-next {
      position: absolute;
      width: 33px;
      height: 57px;
      display: block;
      background: url(../images/next.png) no-repeat;
      top: 95px;
      right: 0px;
      z-index: 300;
      text-indent: -9999px;
    }

    .slidesjs-pagination {
      margin: 0px 6px 6px 0;
      float: right;
      list-style: none;
      position: absolute;bottom: 5px; right: 260px; z-index: 200;
    }

    .slidesjs-pagination li {
      float: left;
      margin-left: 5px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 17px;
     height: 17px;
     color: #333;
     text-align: center;
     text-decoration: none;
      background: url(../images/raginator.png) no-repeat;
      background-position: 0 0;
      float: left;
      overflow: hidden;
      text-indent: -9999px;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {

    }

    .slidesjs-pagination li a:hover {
    	background-position: 0 100%;

    }

    .slidesjs-pagination li a.active {
     background-position: 0 100%;
    }

    .navbar {
      overflow: hidden
    }