<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/application/css/main.css" />
<!--
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
-->
<script src="/application/js/jquery.slides.min.js"></script>
<script>
    $(function() {
      $('#slides').slidesjs({
        width: 957,
        height: 297
      });
    });
	

  </script>
	
 <style type="text/css">
	#feedback-form .errorMessage {color:white; background-color:#800000;  margin-right:18px; padding:5px;  margin-bottom:5px; margin-top:-5px; }
 </style>

</head>



<body>
	<div class="top-menu">
		<div class="top-wrap">
				{{ this.widget('TuhesMenu',{'hui':'TuhesMenu'},true) }}
			
		</div>	
	</div>
<div id="wrap">
	<!-- header -->
	<div class="header">
		<div class="logo">
			<a href="#"><img src="images/logo.jpg" height="91" width="124" alt="" /></a>	
		</div>

		<div class="head-info">
			<p>Факультет филологии и журналистики  ИГУ</p>	
			<span>Филология лежит в основе не только науки,<br />
			но и всей человеческой культуры</span>
			<span class="author">Академик Д.С. Лихачев</span>
		</div>

		<div class="phone">
			<p><strong>Адрес:</strong> Иркутск, ул. Чкалова, 2</p>
			<p><strong>Телефон:</strong> +7 (3952) <strong>24-39-09</strong></p>	
			<p><a href="#">Схема проезда</a></p>
			<p>
				{{ this.widget('feedback.components.FeedbackForm',{},true) }}
		
			</p>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$(".virt").click(function() {
				$(".virt-box").toggle();
			});
		});
	</script>
	
	{% block content %}
		
	
	{% endblock %}

	<!-- footer -->
	<div class="footer_blank"></div>
</div>
<div id="footer">
	<div class="sub-info">
		<p>Иркутск, ул. Чкалова, 2. </p>	
		<p>Телефон: +7 (3952) 24-39-09</p>
		<p><a href="#">схема проезда</a></p>
	</div>

	<div class="working">
		<p>Создание сайта</p>	
		<a href="#">In-site</a>
	</div>

	<p class="copyright">Факультет филологии и журналистики ИГУ</p>
</div>



</body>
</html>




