<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/application/zurb/css/foundation.css" />
    <script src="/application/zurb/js/modernizr.js"></script>
  </head>
  <body>
    
    
   
  
		<div id="mainmenu">
				<nav class="top-bar" data-topbar>
					<ul class="title-area">
						<li class="name">
							<h1><a href="#"><img src="/application/images/logo.png" alt="" style="height:35px;" /></a></h1> </li>
							<li class="toggle-topbar menu-icon">
								<a href="#">Меню</a></li>
					</ul>
						<section class="top-bar-section"> 
							{{ this.widget('TuhesMenu',{},true) }}
							<ul class="right">
								{% block topRight %}
									<li class="has-dropdown not-click"><a href="#">Страницы</a>
										<ul class="dropdown">
											<li><a href="/application/pages/create"> Добавить </a></li>
											<li><a href="/application/pages/admin"> Редактировать </a></li>
										</ul>
									</li>
									<li class="has-dropdown not-click"><a href="#">Новости</a>
										<ul class="dropdown">
											<li><a href="/application/news/create"> Добавить </a></li>
											<li><a href="/application/news/admin"> Редактировать </a></li>
										</ul>
									</li>
									<li class="has-dropdown not-click"><a href="#">Слайдер</a>
										<ul class="dropdown">
											<li><a href="/application/slides/create"> Добавить </a></li>
											<li><a href="/application/slides/admin"> Редактировать </a></li>
										</ul>
									</li>
								
								{% endblock %}
							</ul>
						</section> </nav>
				
				
		
		</div><!-- mainmenu -->
		
	
	   <div class="row">
		
		<div class="large-12 columns">
		{% block content %}	{{content}}{%endblock%} 
		</div>
    </div>
    
    <!--
    <script src="/application/js/jquery.js"></script>
    <script src="/application/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
	-->
  </body>
</html>
