<h1> Мост </h1>
<p>
	Я был холодным и твердым, я был мостом, я лежал над пропастью. По эту сторону в землю вошли пальцы ног, В по ту сторону — руки; я вцепился зубами в рассыпчатый I суглинок. Фалды моего сюртука болтались у меня по • бокам. Внизу шумел ледяной ручей, где водилась форель. Ни один турист не забредал на эту непроходимую кручу, мост еще не был обозначен на картах... Так я лежал и ждал; я поневоле должен был ждать. Не рухнув, ни один мост, коль скоро уж он воздвигнут, не перестает быть мостом.
</p>
<p>
	Это случилось как-то под вечер — был ли то первый, был ли то тысячный вечер, не знаю: мои мысли шли всегда беспорядочно и всегда по кругу. Как-то под вечер летом ручей зажурчал глуше, и тут я услыхал человеческие шаги! Ко мне, ко мне... Расправься, мост, послужи, брус без перил, выдержи того, кто тебе доверился. Неверность его походки смягчи незаметно, но, если он зашатается, покажи ему, на что ты способен, и, как некий горный бог, швырни его на ту сторону.
</p>
<p>
	Он подошел, выстукал меня железным наконечником своей трости, затем поднял и поправил ею фалды моего сюртука. Он погрузил наконечник в мои взъерошенные волосы и долго не вынимал его оттуда, по-видимому дико озираясь по сторонам. А потом — я как раз уносился за ним в мечтах за горы и долы — он прыгнул обеими ногами на середину моего тела. Я содрогнулся от дикой боли, в полном неведении. Кто это был? Ребенок? Видение? Разбойник с большой дороги? Самоубийца? Искуситель? Разрушитель? И я стал поворачиваться, чтобы увидеть его... Мост поворачивается! Не успел я повернуться, как уже рухнул. Я рухнул и уже был изодран и проткнут заостренными голышами, которые всегда так приветливо глядели на меня из бурлящей воды. 
</p>

{{ this.widget('NewsItems',{},true) }}
