{% extends "//views/layouts/zurb.twig" %}

{% block content %}
<h1> Администрирование </h1>
<hr/>

    <div style="text-align:center;" class="columns large-4">
        <i class="fi-page ilarge"> &nbsp; </i>
        <p> 
            <a href="/application/pages/admin/"> Страницы </a>
        </p>
    </div>


     <div style="text-align:center;" class="columns large-4">
        <i class="fi-list-bullet ilarge"> &nbsp; </i>
        <p> 
            <a href="/application/news/admin/"> Новости </a>
        </p>
    </div>
    
    
    <div style="text-align:center;" class="large-4 columns">
        <i class="fi-photo ilarge"> &nbsp; </i>
        <p> 
            <a href="/application/slides/admin/"> Слайдер </a>
        </p>
    </div>


    <div style="text-align:center;" class="large-4 columns">
        <i class="fi-widget ilarge"> &nbsp; </i>
        <p> 
            <a href="/application/sitewidgets/admin/"> Виджеты </a>
        </p>
    </div>

    <div style="text-align:center;" class="large-4 columns">
        <i class="fi-torsos ilarge"> &nbsp; </i>
        <p> 
            <a href="/application/users/admin/"> Пользователи </a>
        </p>
    </div>

     <div style="text-align:center;" class="large-4 columns">
        <i class="fi-wrench ilarge"> &nbsp; </i>
        <p> 
            <a href="/application/configpage/wts/"> Настройки </a>
        </p>
    </div>

   <div style="text-align:center;" class="large-12 columns">
        <i class="fi-star ilarge"> &nbsp; </i>
        <p> <span> Галерея: </span>
            <a href="/application/galleryGroups/admin">Группы  </a> / <a href="/application/galleryItems/admin"> Элементы </a> 
        </p>
    </div>


</div>
{% endblock content %}
