
{% extends "//views/layouts/public_base.twig" %}
{% block content %}
<div class="news-container content text-box">
    <br/>
    <br/>
    
    <h2>Ошибка {{ code }}</h2>
    <p>
    {{ message }}
    </p>
</div>
{%endblock%} 



