{% extends "//views/layouts/public_base.twig" %}

{% block content %}
	<div class="slider-box">
			<div class="slide-plash">
				<p>В 2013 году<br /> исполняется</p>

				<span>95 лет</span>

				<p>ИРКУТСКОМУ<br />  
				ГОСУДАРСТВЕННОМУ<br /> 
				УНИВЕРСИТЕТУ<br /> 
				И НАШЕМУ ФАКУЛЬТЕТУ
				</p>	
			</div>
			<div id="slides">
				<!-- start -->
					{{ this.widget('SlidesItems',{},true) }}
				<!-- end -->
			</div>
		</div>
	
	
	
	
	{{ this.widget('NewsItems',{},true) }}
	<div class="partner">
{{ this.widget('SitewidgetsItems',{},true) }}
		</div>




 {%endblock%} 
