{% extends "//views/layouts/public_base.twig" %}

{% block content %}
	
	{{ this.widget('NewsItems',{},true) }}
	<div class="partner">
		<div class="block">
			<a href="#"><img src="images/partner1.png" height="86" width="130" alt="" /></a>
			<img src="images/line.png" height="1" width="125" alt="" />	
			<p>Министерство образования и науки РФ</p>
		</div>

		<div class="block">
			<a href="#"><img src="images/partner2.png" height="86" width="130" alt="" /></a>
			<img src="images/line.png" height="1" width="125" alt="" />	
			<p>Научная электронная библиотека</p>
		</div>	

		<div class="block">
			<a href="#"><img src="images/partner3.png" height="86" width="130" alt="" /></a>
			<img src="images/line.png" height="1" width="125" alt="" />	
			<p>Научная электронная библиотека</p>
		</div>

		<div class="block">
			<a href="#"><img src="images/partner4.png" height="86" width="130" alt="" /></a>
			<img src="images/line.png" height="1" width="125" alt="" />	
			<p>Научная электронная библиотека</p>
		</div>

		<div class="block">
			<a href="#"><img src="images/partner5.png" height="86" width="130" alt="" /></a>
			<img src="images/line.png" height="1" width="125" alt="" />	
			<p>Научная электронная библиотека</p>
		</div>

		<div class="block">
			<a href="#"><img src="images/partner6.png" height="86" width="130" alt="" /></a>
			<img src="images/line.png" height="1" width="125" alt="" />	
			<p>Научная электронная библиотека</p>
		</div>

		<div class="block">
			<a href="#"><img src="images/partner7.png" height="86" width="130" alt="" /></a>
			<img src="images/line.png" height="1" width="125" alt="" />	
			<p>Научная электронная библиотека</p>
		</div>
	</div>




 {%endblock%} 
