{% extends "//views/layouts/public_base.twig" %}
{% block content %}
   	<div style="width:100%;" class="news-container">
		<div class="title">
			<p>Обратная связь</p>	

			<img src="/application/images/title-ln.jpg" height="12" width="20" alt="" />
		</div>
        <div class="container text-box">					
            Письмо успешно отправлено        
        </div>
    </div>

{% endblock %}

